.DS_Store
/release/
/debug/
/dist/
/build/
/coverage/


node_modules
build
.nyc_output
.cache

# configurations
.flh.config.js
.grs.config.js

# package manager
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log
.yarnrc
.pnpm-debug.log
pnpm-lock.yaml
