src
test
examples
docs
test-cases
.circleci/*
.github
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log

# package manager
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log
.yarnrc
.pnpm-debug.log
pnpm-lock.yaml



# configurations
.travis.yml
.gitlab-ci.yml
.prettierrc
.prettierignore
.editorconfig
.eslintrc.js
.eslintrc.json
.prettierrc
.grs.config.js
.flh.config.js
jest.config.js
.husky
tsconfig.json
commitlint.config.js
CHANGELOG.md

publish.bat
